.form-wrapper {
  .form-control {
    border: 1px solid #e5e7f2;
    background-color: #f9f9f9;
    width: 100%;
    padding: 12px 20px;
    height: 50px;
    border-radius: 4px;
    color: #4f5c6e;
    font-size: 15px;
    outline: none;
    overflow: hidden;
    @include transition();

    &:focus {
      background-color: var(--white-color);
    }
  }

  .form-group {
    margin-bottom: 2rem;
  }

  label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: var(--black-color);
    position: relative;

    i {
      padding-left: 12px;
      font-size: 15px;
      position: absolute;
      top: 50px;
      right: 15px;
      color: var(--red-color);
    }

    &.meliCard-label {
      font-size: 1.35em;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  .custom-switch {
    min-height: 2.5rem;
    padding-left: 0;

    .custom-control-label {
      &::before {
        width: 4rem;
        height: 2rem;
        border-radius: 32px;
        left: -4.25rem;
        cursor: pointer;
      }

      &::after {
        top: calc(0.25rem + 2px);
        left: calc(-2.25rem + 2px);
        width: calc(2rem - 4px);
        height: calc(2rem - 4px);
        border-radius: 32px;
        cursor: pointer;
        @include transition();
      }
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background-color: #fff;
      -webkit-transform: translateX(-2rem);
      transform: translateX(-2rem);
    }
  }

  #custom-button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    @include transition();
  }

  #custom-text {
    margin-right: 10px;
    color: #505050;
  }

  .btn {
    height: 50px;
    line-height: 30px;

    &.d-block {
      width: 100%;
    }
  }

  &.has-icon {
    .form-control {
      padding: 12px 45px 13px 20px;
    }
  }

  .tip {
    font-size: 70%;
    font-weight: 300;
    display: block;
    margin-bottom: 1rem;

    &::before {
      content: "!";
      display: inline-block;
      vertical-align: middle;
      width: 22px;
      height: 22px;
      text-align: center;
      line-height: 22px;
      color: var(--blue-color);
      font-size: 13px;
      font-weight: 700;
      border-radius: 50%;
      margin-left: 0.5rem;
      margin-bottom: 5px;
      border: 1px solid #ccc;
      cursor: help;
    }
  }

  .image {
    position: relative;
    margin-bottom: 2rem;

    img {
      @include block_image();
    }

    .overal {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba($color: #303030, $alpha: 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include transition();
      visibility: hidden;
      opacity: 0;

      .btn {
        border-radius: 32px;
        border-color: var(--white-color);
        color: var(--white-color);
        margin-bottom: 0.75rem;

        &:hover {
          background-color: rgba($color: #fff, $alpha: 0.35);
        }

        & + span {
          color: rgba($color: #fff, $alpha: 0.85);
          font-size: 85%;
          font-weight: 300;
        }
      }
    }

    &:hover {
      .overal {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
