@import url(bootstrap.css);
@import url(fontawesome.css);
/* @import url(owl.css); */
@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum.eot");
  src: url("../fonts/IRANSansWebFaNum.eot?#iefix") format("embedded-opentype"),
    url("../fonts/IRANSansWebFaNum.woff2") format("woff2"),
    url("../fonts/IRANSansWebFaNum.woff") format("woff"),
    url("../fonts/IRANSansWebFaNum.ttf") format("truetype"),
    url("../fonts/IRANSansWebFaNum.svg#IRANSansWebFaNum") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWeb-Bold.eot");
  src: url("../fonts/IRANSansWeb-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/IRANSansWeb-Bold.woff2") format("woff2"),
    url("../fonts/IRANSansWeb-Bold.woff") format("woff"),
    url("../fonts/IRANSansWeb-Bold.ttf") format("truetype"),
    url("../fonts/IRANSansWeb-Bold.svg#IRANSansWeb-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea {
  font-family: "sans";
  outline: 0;
  resize: none;
}

img {
  max-width: 100%;
}

.wrapper {
  padding: 75px 0;
}

.has-ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.ripple {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  background: #fff;
  opacity: 1;
}

.ripple-animate {
  -webkit-animation: ripple;
  animation: ripple;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.65;
}

.ltr-text {
  display: inline-block;
  direction: ltr;
  text-align: right;
  letter-spacing: 0.5px;
}

html,
body {
  direction: rtl;
  font-size: 15px;
  font-family: "sans";
  font-weight: 400;
  line-height: 1.75;
  text-align: right;
  overflow-x: hidden !important;
}

header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  padding: 10px 0;
  z-index: 1;
}

header .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .logo {
  max-height: 60px;
}

header .menu-content {
  text-align: center;
}

header .menu-content ul li {
  display: inline-block;
  text-align: right;
  position: relative;
  margin-left: 0.65rem;
}

header .menu-content ul li a {
  color: #ffffff;
  background-color: transparent;
  border-radius: 32px;
  padding: 6px 17px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  text-decoration: none;
}

header .menu-content ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

header .menu-content ul li.active a {
  background-color: #ffffff;
  color: #303030;
}

header .menu-content ul li ul {
  position: absolute;
  right: 0;
  top: 120%;
  background-color: #ffffff;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transform: translateY(20px);
  -moz-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
}

header .menu-content ul li ul li {
  margin-left: 0;
  display: block;
}

header .menu-content ul li ul li a {
  font-weight: 400;
  color: #303030;
}

header .menu-content ul li ul li ul {
  right: 100%;
  top: 0;
}

header .menu-content ul li:last-child {
  margin-left: 0;
}

header .menu-content ul li:hover > ul {
  transform: translateY(0px);
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

header .redirect {
  text-align: left;
}

header .redirect a {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 20px;
  border-radius: 32px;
  background: #f1c40f;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

header .redirect a:hover {
  background-color: #c4e538;
}

main {
  position: relative;
  z-index: 0;
}

main .intro-wrapper {
  padding-top: 110px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#121d66),
    color-stop(40%, #0b46a0),
    color-stop(92%, #0b4aa6),
    to(#0c429a)
  );
  background: linear-gradient(
    to right,
    #121d66 0%,
    #0b46a0 40%,
    #0b4aa6 92%,
    #0c429a 100%
  );
}

main .intro-wrapper .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .intro-wrapper .container {
  position: relative;
  z-index: 0;
}

main .intro-wrapper .ribbon {
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
  margin-top: -85px;
}

main .intro-wrapper img {
  width: 100%;
}

main .intro-wrapper .content {
  margin-top: -100px;
  color: #ffffff;
}

main .intro-wrapper .content h1 {
  font-weight: bold;
  text-shadow: 0 0 1px;
  font-size: 3em;
  letter-spacing: 0.5px;
}

main .intro-wrapper .content h1 span {
  display: inline-block;
  color: #f51a28;
  text-shadow: 0px 2px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

main .intro-wrapper .content h2 {
  font-size: 1.5em;
  margin-bottom: 2rem;
}

main .why-wrapper {
  position: relative;
  min-height: 600px;
  max-width: 1800px;
  margin: auto;
  border-bottom-left-radius: 38%;
  overflow: hidden;
  z-index: 1;
  background-color: #ffffff;
}

main .why-wrapper .container {
  position: relative;
  z-index: 1;
}

main .why-wrapper .humanObj {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 600px;
  z-index: 0;
}

main .why-wrapper .title-box {
  position: relative;
  border-bottom: 2px dashed #ccc;
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  color: #0f2e7e;
}

main .why-wrapper .title-box h2 {
  background-color: #0f2e7e;
  color: #ffffff;
  width: 80%;
  height: 50px;
  margin-bottom: 1.5rem;
  font-size: 1.4em;
  line-height: 51px;
  padding: 0 20px;
  text-align: center;
  font-weight: bold;
}

main .why-wrapper .title-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  height: 51px;
  width: 20%;
  background: url("../images/title-ribbon.png") no-repeat;
  background-size: 100% 100%;
}

main .why-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

main .why-wrapper ul li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3rem;
}

main .why-wrapper ul li img {
  display: inline-block;
  margin-left: 10px;
  max-height: 35px;
}

main .why-wrapper ul li h4 {
  font-size: 1em;
}

main .teacher-wrapper {
  position: relative;
  z-index: 0;
  margin-top: -280px;
  padding-top: 350px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#121d66),
    color-stop(40%, #0b46a0),
    color-stop(92%, #0b4aa6),
    to(#0c429a)
  );
  background: linear-gradient(
    to right,
    #121d66 0%,
    #0b46a0 40%,
    #0b4aa6 92%,
    #0c429a 100%
  );
  color: #ffffff;
}

main .teacher-wrapper .title-box {
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
}

main .teacher-wrapper .title-box .title {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding-right: 15px;
  padding-left: 5px;
  height: 50px;
  line-height: 51px;
  font-size: 1.35em;
  font-weight: bold;
  margin-right: -50px;
  color: #0f2e7e;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: 0.75rem;
}

main .teacher-wrapper .title-box .title span {
  position: relative;
  z-index: 1;
  display: inline-block;
}

main .teacher-wrapper .title-box .title::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: -120px;
  top: -1px;
  width: 150px;
  height: 51px;
  background: url("../images/title-ribbon-white.png") no-repeat;
  background-size: 100% 100%;
}

main .teacher-wrapper .title-box .desc {
  font-size: 1.125em;
}

main .teacher-wrapper .slide-content {
  border-top: 2px solid #ffffff;
  padding: 0px 125px 50px 125px;
}

main .teacher-wrapper .slide-content .teacher-item {
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

main .teacher-wrapper .slide-content .teacher-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -65px;
  margin: auto;
  background: url("../images/sanjagh.png") no-repeat;
  width: 42px;
  height: 70px;
}

main .teacher-wrapper .slide-content .teacher-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -175px;
  margin: auto;
  width: 2px;
  height: 110px;
  background-color: #ffffff;
}

main .teacher-wrapper .slide-content .teacher-item a {
  color: #303030;
}

main .teacher-wrapper .slide-content .teacher-item img {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

main .teacher-wrapper .slide-content .teacher-item .title {
  font-weight: bold;
  font-size: 1.25em;
}

main .teacher-wrapper .slide-content .teacher-item:hover {
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

main .teacher-wrapper .owl-carousel .owl-stage-outer {
  padding-top: 175px;
  padding-bottom: 25px;
}

main .teacher-wrapper .owl-theme .owl-nav {
  margin-top: 0;
}

main .teacher-wrapper .owl-theme .owl-nav [class*="owl-"] {
  margin: 0;
  position: absolute;
  top: -19px;
  font-size: 2.5em;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  line-height: 0;
}

main .teacher-wrapper .owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #7ed6df;
  outline: 0;
}

main .teacher-wrapper .owl-theme .owl-nav [class*="owl-"]:focus {
  outline: 0;
}

main .teacher-wrapper .owl-theme .owl-nav .owl-prev {
  right: -150px;
}

main .teacher-wrapper .owl-theme .owl-nav .owl-next {
  left: -150px;
}

main .time-wrapper .title-section {
  position: relative;
  background-color: #0f2e7e;
  color: #ffffff;
  display: table;
  height: 50px;
  margin: auto;
  margin-bottom: 2.5rem;
  font-size: 1.4em;
  line-height: 51px;
  padding: 0 20px;
  text-align: center;
  font-weight: bold;
}

main .time-wrapper .title-section::before {
  content: "";
  position: absolute;
  left: -135px;
  top: -1px;
  width: 135px;
  height: 51px;
  background: url("../images/title-ribbon.png") no-repeat;
  background-size: 100% 100%;
}

main .time-wrapper .time-carousel {
  margin-bottom: 5rem;
}

main .time-wrapper .time-item {
  text-align: center;
  color: #303030;
}

main .time-wrapper .time-item .title-box {
  position: relative;
  background-color: #00a8ff;
  border-radius: 50%;
  border: 3px solid #303030;
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.25em;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}

main .time-wrapper .time-item .title-box::before {
  content: "";
  position: absolute;
  right: -13px;
  top: -13px;
  margin: auto;
  width: 130px;
  height: 130px;
  border: 1px dashed #303030;
  border-radius: 50%;
}

main .time-wrapper .time-item h3 {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0.75rem;
}

main .time-wrapper .owl-carousel .owl-item:nth-child(2n) .time-item {
  margin-top: -75px;
}

main .time-wrapper .owl-carousel .owl-stage-outer {
  padding-top: 100px;
}

main .time-wrapper .owl-theme .owl-nav {
  margin-top: 0;
}

main .time-wrapper .owl-theme .owl-nav [class*="owl-"] {
  margin: 0;
  position: absolute;
  top: 40%;
  font-size: 3em;
  color: #0f2e7e;
  line-height: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

main .time-wrapper .owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: transparent;
  color: #4a5f73;
}

main .time-wrapper .owl-theme .owl-nav [class*="owl-"]:focus {
  outline: 0;
}

main .time-wrapper .owl-theme .owl-nav .owl-prev {
  right: -50px;
}

main .time-wrapper .owl-theme .owl-nav .owl-next {
  left: -50px;
}

main .free-wrapper {
  position: relative;
  padding-top: 125px;
  padding-bottom: 200px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#121d66),
    color-stop(40%, #0b46a0),
    color-stop(92%, #0b4aa6),
    to(#0c429a)
  );
  background: linear-gradient(
    to right,
    #121d66 0%,
    #0b46a0 40%,
    #0b4aa6 92%,
    #0c429a 100%
  );
  color: #ffffff;
}

main .free-wrapper::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 41px;
  background: url("../images/free-shape.png") no-repeat center center;
  background-size: 100% 100%;
}

main .free-wrapper .video-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

main .free-wrapper .video-box img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

main .free-wrapper .video-box .play-button {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 5em;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

main .free-wrapper .video-box:hover .play-button {
  background-color: rgba(0, 0, 0, 0.75);
}

main .free-wrapper .title-box {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding-right: 15px;
  height: 50px;
  line-height: 51px;
  font-size: 1.35em;
  font-weight: bold;
  color: #0f2e7e;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: 3rem;
}

main .free-wrapper .title-box span {
  position: relative;
  z-index: 1;
  display: inline-block;
}

main .free-wrapper .title-box::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: -150px;
  top: -1px;
  width: 150px;
  height: 51px;
  background: url("../images/title-ribbon-white.png") no-repeat;
  background-size: 100% 100%;
}

main .free-wrapper .display-4 {
  font-weight: bold;
  margin-bottom: 2rem;
}

main .free-wrapper .btn {
  margin-top: 3rem;
}

main .amount-wrapper {
  position: relative;
  padding-bottom: 75px;
}

main .amount-wrapper .title-box {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  margin: auto;
  margin-top: -100px;
  margin-bottom: 3rem;
  border: 2px dashed #202020;
  padding: 10px;
}

main .amount-wrapper .title-box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50%;
  font-size: 1.25em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #ffffff;
  background-color: #303030;
  line-height: 1.5;
  border: 6px solid #0f2e7e;
  letter-spacing: 0.5px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

main .amount-wrapper .title-box > div i {
  display: inline-block;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 1rem;
}

main .amount-wrapper .title-box > div:hover {
  background-color: #0f2e7e;
  border-color: #303030;
}

main .amount-wrapper .content-box {
  -webkit-box-shadow: 0 0 20px rgba(48, 48, 48, 0.25);
  box-shadow: 0 0 20px rgba(48, 48, 48, 0.25);
  text-align: center;
  padding: 10px 25px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

main .amount-wrapper .content-box .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
}

main .amount-wrapper .content-box .dots span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ddd;
}

main .amount-wrapper .content-box h5 {
  font-weight: 400;
  color: #303030;
  margin-bottom: 0.5rem;
}

main .amount-wrapper .content-box strong.blue-color {
  display: block;
  color: #0f2e7e;
  font-weight: bold;
  font-size: 2em;
}

main .amount-wrapper .content-box hr {
  border-top: 2px dashed #303030;
  margin-bottom: 1.5rem;
}

main .amount-wrapper .content-box .btn {
  margin-top: 1rem;
}

main .ranking-wrapper {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#121d66),
    color-stop(40%, #0b46a0),
    color-stop(92%, #0b4aa6),
    to(#0c429a)
  );
  background: linear-gradient(
    to right,
    #121d66 0%,
    #0b46a0 40%,
    #0b4aa6 92%,
    #0c429a 100%
  );
  color: #ffffff;
}

main .ranking-wrapper .title-box {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding-right: 15px;
  height: 50px;
  line-height: 51px;
  font-size: 1.35em;
  font-weight: bold;
  color: #0f2e7e;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: 3rem;
}

main .ranking-wrapper .title-box span {
  position: relative;
  z-index: 1;
  display: inline-block;
}

main .ranking-wrapper .title-box::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: -150px;
  top: -1px;
  width: 150px;
  height: 51px;
  background: url("../images/title-ribbon-white.png") no-repeat;
  background-size: 100% 100%;
}

main .ranking-wrapper .title {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

main .ranking-wrapper .desc {
  font-size: 1.125em;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

main .ranking-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  margin-top: 2rem;
}

main .ranking-wrapper ul li {
  padding: 10px;
}

main .ranking-wrapper ul li i {
  font-size: 3em;
  display: inline-block;
  margin-bottom: 0.75rem;
}

main .ranking-wrapper ul li h5 {
  font-size: 1.25em;
  font-weight: bold;
}

main .ranking-wrapper .best-title {
  position: relative;
  padding: 0 60px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  min-height: 80px;
  margin: auto;
  margin-bottom: 2.5rem;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .ranking-wrapper .best-title::before,
main .ranking-wrapper .best-title::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 80px;
  background: url("../images/feather.png") no-repeat;
  background-size: 100%;
}

main .ranking-wrapper .best-title::before {
  right: 0;
}

main .ranking-wrapper .best-title::after {
  left: 0;
  transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
}

main .ranking-wrapper .ranking-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #303030;
  text-align: center;
}

main .ranking-wrapper .ranking-item img {
  display: block;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

main .ranking-wrapper .ranking-item h6 {
  font-weight: bold;
}

main .ranking-wrapper .owl-theme .owl-nav {
  margin-top: 2rem;
}

main .ranking-wrapper .owl-theme .owl-nav [class*="owl-"] {
  font-size: 2.5em;
  line-height: 1;
  margin: 0 0.75rem;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

main .ranking-wrapper .owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: transparent;
  color: #4a5f73;
}

main .ranking-wrapper .owl-theme .owl-nav [class*="owl-"]:focus {
  outline: 0;
}

main .comment-wrapper .title-section {
  position: relative;
  background-color: #0f2e7e;
  color: #ffffff;
  display: table;
  height: 50px;
  margin: auto;
  margin-bottom: 3rem;
  font-size: 1.4em;
  line-height: 51px;
  padding-right: 25px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
  font-weight: bold;
}

main .comment-wrapper .title-section::before {
  content: "";
  position: absolute;
  left: -135px;
  top: -1px;
  width: 135px;
  height: 51px;
  background: url("../images/title-ribbon.png") no-repeat;
  background-size: 100% 100%;
}

main .comment-wrapper .container {
  position: relative;
}

main .comment-wrapper .comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

main .comment-wrapper .comment-item .image {
  overflow: hidden;
  border: 1px dashed #303030;
  padding: 8px;
  width: 165px;
  height: 170px;
  border-radius: 50%;
}

main .comment-wrapper .comment-item .image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border: 2px solid #303030;
}

main .comment-wrapper .comment-item .content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: 20px;
  color: #303030;
  max-width: 70%;
}

main .comment-wrapper .comment-item .content .title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0.75rem;
}

main .comment-wrapper .comment-item .content p {
  color: #505050;
}

main .comment-wrapper .comment-item:nth-child(2n) {
  direction: ltr;
}

main .comment-wrapper .comment-item:nth-child(2n) .content {
  padding-right: 0;
  padding-left: 20px;
  direction: rtl;
  text-align: left;
}

main .comment-wrapper .comment-item:last-child {
  margin-bottom: 0;
}

main .comment-wrapper .arrow1 {
  position: absolute;
  background: url("../images/commentArrow02.png") no-repeat;
  background-size: 100%;
  width: 85px;
  height: 60px;
  left: 20px;
  top: 75px;
}

main .comment-wrapper .arrow2,
main .comment-wrapper .arrow3 {
  position: absolute;
  background: url("../images/commentArrow01.png") no-repeat;
  background-size: 100%;
  width: 50px;
  height: 80px;
}

main .comment-wrapper .arrow2 {
  right: 25px;
  top: 260px;
}

main .comment-wrapper .arrow3 {
  left: 0;
  bottom: 280px;
  transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
}

main .social-wrapper {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#121d66),
    color-stop(40%, #0b46a0),
    color-stop(92%, #0b4aa6),
    to(#0c429a)
  );
  background: linear-gradient(
    to right,
    #121d66 0%,
    #0b46a0 40%,
    #0b4aa6 92%,
    #0c429a 100%
  );
  position: relative;
  padding-bottom: 125px;
}

main .social-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 41px;
  background: url(../images/free-shape.png) no-repeat center center;
  background-size: 100% 100%;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

main .social-wrapper .section-title {
  position: relative;
  display: table;
  margin: auto;
  background-color: #ffffff;
  padding-right: 15px;
  height: 50px;
  line-height: 51px;
  font-size: 1.35em;
  font-weight: bold;
  color: #0f2e7e;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-bottom: 4rem;
}

main .social-wrapper .section-title::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: -150px;
  top: -1px;
  width: 150px;
  height: 51px;
  background: url(../images/title-ribbon-white.png) no-repeat;
  background-size: 100% 100%;
}

footer {
  position: relative;
  z-index: 1;
  padding-top: 70px;
  color: #303030;
}

footer img {
  max-width: 160px;
}

footer .footer-title {
  font-weight: bold;
  font-size: 1.125em;
  margin-bottom: 1.5rem;
}

footer ul li {
  margin: 10px 0;
}

footer ul li i {
  display: inline-block;
  vertical-align: middle;
  min-width: 25px;
  text-align: center;
}

footer .social {
  display: inline-block;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 1.25rem;
  color: #ffffff;
  background-color: #303030;
  margin-left: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

footer .social:hover {
  background-color: #00a8ff;
}

footer .copy-right {
  text-align: center;
  padding-top: 25px;
  margin-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=style.css.map */
