$red_color: #e7284a;

@mixin transition($property: 0.3s) {
  transition: all $property ease;
  -moz-transition: all $property ease;
  -ms-transition: all $property ease;
  -webkit-transition: all $property ease;
  -o-transition: all $property ease;
}

aside {
  position: fixed;
  right: 0;
  top: 100px;
  width: 180px;
  height: calc(100% - 100px);
  @include transition();

  .main-menu {
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1),
      0 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-left: 1px solid #f3f3f3;

    .nav-item {
      position: relative;

      a {
        height: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        font-style: normal;
        font-weight: 500;
        border-bottom: 1px solid #f3f3f3;
        color: #414141;
        text-decoration: none;
        @include transition();

        i {
          font-size: 2.25em;
          line-height: 50px;
        }

        &:hover {
          color: $red_color;
        }
      }

      &.active {
        a {
          color: $red_color;
        }

        &::after {
          content: " ";
          background: $red_color;
          border-radius: 10px;
          position: absolute;
          width: 6px;
          height: 90px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          right: 0;
        }
      }

      &:last-child {
        a {
          border-bottom: 0;
        }
      }
    }
  }

  &.hide {
    right: -181px;

    & + main {
      padding-right: 20px !important;
    }
  }
}
