$red_color: #e7284a;

.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/images/Login-bg.jpg") no-repeat center center;
  background-size: cover;

  .tab_container {
    width: 60%;
    max-width: 760px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 35px 45px;
    position: relative;

    .logo-box {
      text-align: center;
      margin-bottom: 2rem;

      img {
        max-height: 50px;
      }
    }

    input[type="radio"],
    section {
      clear: both;
      padding-top: 10px;
      display: none;
    }

    label {
      display: block;
      text-decoration: none;
      padding: 0 15px;
      padding-bottom: 15px;
      font-size: 1.25em;
      font-weight: 400;
      text-shadow: 0 0 1px;
      letter-spacing: 0.5px;
      border-bottom: 2px solid transparent;
      float: right;
      width: 50%;
      text-align: center;
      cursor: pointer;
      color: #202020;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4,
    #tab5:checked ~ #content5 {
      display: block;
      padding-top: 2rem;
      background: #fff;
      color: #999;
    }

    .tab-content {
      form {
        -webkit-animation: fadeInScale 0.7s ease-in-out;
        -moz-animation: fadeInScale 0.7s ease-in-out;
        animation: fadeInScale 0.7s ease-in-out;

        .row {
          align-items: center;
        }

        input {
          padding: 10px 15px;
          height: 50px;
          font-size: 16px;
        }
      }
    }
  }

  .tab_container [id^="tab"]:checked + label {
    border-bottom-color: $red_color;
  }
}

@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }

  .tab_container {
    width: 98%;
  }
}

@-webkit-keyframes fadeInScale {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
